img {
    border-radius: 5%;
  }

.jumbotron{
  background: url(../Images/Splash.crop2.png);
  width: auto;
  background-repeat: unset;
  background-position: center
    }
.container {
  background-color: #E6F1F6;
  }
.navbar navbar-expand-sm bg-dark navbar-dark {
  position: fixed;
  top: 0;
  width: 100%;
}